{% extends 'base.html' %}
{% load static %}
{% block title %} Sushi by RC | About Us {% endblock %}
{% block icons %}
    <li class="nav-item ms-auto">
        <a class="nav-link active navbar-icons" aria-current="page" href="{% url 'welcome' %}">
            <i class="fa-solid fa-user"></i>
        </a>
    </li>
    <li class="nav-item ms-auto" >
        <a class="navbar-brand" style="" href="{% url 'cart' %}">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </li>

{% endblock %}
{% block body %}

<div class="main-container">
    <h1>
        About Shushi by RojoCuerpo
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
        ullam animi repellat non ut delectus culpa! Iste quia corporis
        illum doloribus facilis quo totam eveniet sapiente odit
        cupiditate? Cumque, nam?
    </p>

    <div class="about-img-container">
        <img class="location-map" src="{% static 'images/location.png' %}">
    </div>
</div>
{% endblock %}