{% extends 'base.html' %}
{% load static %}
{% block title %} Sushi by RC | Cart {% endblock %}
{% block icons %}
    <li class="nav-item ms-auto">
        <a class="nav-link active navbar-icons" aria-current="page" href="{% url 'welcome' %}">
            <i class="fa-solid fa-user"></i>
        </a>
    </li>

    <li class="nav-item ms-auto" >
        <a class="navbar-brand" style="" href="{% url 'about' %}">
            <i class="fa-solid fa-circle-info"></i>
        </a>
    </li>
{% endblock %}


{% block body %}

<!-- IF CART IS EMPTY -->
{% if not items %}
<!-- COVER -->
<div class="main-container">
    <div class="register-presentation-img-container">
        <img class="register-img" src="{% static 'images/cover.jpeg' %}">
        <div class="presentation-text-empty-cart">
            <div class="empty-cart-container">
        <h1>
            You cart is empty!
        </h1>
        <a href="{% url 'home' %}" >
            <button type="button" class="logout-button back-to-store-button" >Back to store</button>
        </a>
    </div>
        </div>
    </div>

</div>

<!-- RECOMMENDED -->
<div class="main-container">

    <div class="cart-recommended-container">
        <div class="menu-item-card">
            <h2 class="menu-item-type-dish">
                Recommended
            </h2>
            <hr class="menu-item-hr">
            <h5 class="menu-item-title">
                Name of Dish
            </h5>
            <table>
                <tr>
                    <td class="menu-item-img-td" colspan="2">
                        <div class="menu-item-img-container">
                           <img class="menu-item-img" src="{% static 'images/cover.jpeg' %}">
                        </div>

                    </td>
                </tr>
                <tr>
                    <td class="menu-item-description">
                        <p class="menu-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        <button class=" add-button">
                            Order
                        </button>
                    </td>
                </tr>
            </table>
        </div>
         <div class="menu-item-card">
            <h2 class="menu-item-type-dish">
                Recommended
            </h2>
            <hr class="menu-item-hr">
            <h5 class="menu-item-title">
                Name of Dish
            </h5>
            <table>
                <tr>
                    <td class="menu-item-img-td" colspan="2">
                        <div class="menu-item-img-container">
                           <img class="menu-item-img" src="{% static 'images/cover.jpeg' %}">
                        </div>

                    </td>
                </tr>
                <tr>
                    <td class="menu-item-description">
                        <p class="menu-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        <button class=" add-button">
                            Order
                        </button>
                    </td>
                </tr>
            </table>
        </div>
         <div class="menu-item-card">
            <h2 class="menu-item-type-dish">
                Recommended
            </h2>
            <hr class="menu-item-hr">
            <h5 class="menu-item-title">
                Name of Dish
            </h5>
            <table>
                <tr>
                    <td class="menu-item-img-td" colspan="2">
                        <div class="menu-item-img-container">
                           <img class="menu-item-img" src="{% static 'images/cover.jpeg' %}">
                        </div>

                    </td>
                </tr>
                <tr>
                    <td class="menu-item-description">
                        <p class="menu-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        <button class=" add-button">
                            Order
                        </button>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>
{% endif %}


<!-- IF CART HAS ITEMS -->
{% if items %}
<!-- COVER -->
<div class="main-container">
    <div class="register-presentation-img-container">
        <img class="register-img" src="{% static 'images/cover.jpeg' %}">
            <div class="shipping-form-cart">
                <div>
                    <h2 class="display-fonts cart-title" >
                        Cart
                    </h2>
                    <div class="cart-overview-container" style="display: flex; flex-direction: column; justify-content: flex-end;">
                        <p>
                            Please review your order before checkout
                        </p>
                        <h5 style="margin-top: 0px; margin-bottom: 0;">
                            Products: {{order.get_total_items}}
                        </h5>
                        <h5 style=" margin-bottom: 15px;">
                            Total: ${{order.get_total_price}} USD
                        </h5>
                        <div class="cart-w-items-cover-buttons">
                             <a href="{% url 'checkout' %}">
                                <button type="button" class="logout-button">Checkout</button>
                             </a>
                            <a class="back-to-store-button" href="{% url 'home' %}">
                                <button type="button" class="logout-button">Store</button>
                             </a>
                        </div>
                    </div>

                </div>
            </div>
    </div>
</div>

<!-- CART -->
<div class="main-container">

    <!-- ITEMS -->
    <div class="cart-items-container">

        {% for i in items %}
        <table class="product-table cart-table" style="">
                        <tr>
                             <td>
                                 <h4 class="article-name">{{ i.product.name }}</h4>
                                 {{i.product.tag.all.0.name}}
                             </td>
                        </tr>
                        <tr>
                            <td>
                                 <img class="cart-item-img" src="{{ i.product.img.url }}">
                            </td>
                        </tr>
                        <tr class="bottom-row" style="">
                            <td style="text-align: center;">
                                <table style="text-align: center; width: 100%">
                                    <tr>
                                        <td>
                                            <table style="text-align: center; width: 100%">
                                                <tr>
                                                    <td style="text-align: center;">
                                                        <h6>Quantity</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="cart-table-quantity">
                                                        <button class="cart-button"
                                                                onclick="updateOrder({{i.product_id}}, 'remove')">
                                                            <i class="fa-solid fa-minus"></i>
                                                        </button>
                                                        <h5>
                                                            {{i.quantity}}
                                                        </h5>
                                                        <button class="cart-button"
                                                                onclick="updateOrder({{i.product_id}}, 'add')">
                                                            <i class="fa-solid fa-plus"></i>
                                                        </button>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="text-align: center;">
                                                        <h6>Product</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="">
                                                        <h6>${{i.get_total}}</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="100%">
                                                        <button class="danger"
                                                        onclick="updateOrder({{i.product_id}}, 'delete')">Remove</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
        {% endfor %}

    </div>

    <!-- CHECKOUT BUTTON -->
    <div class="to-checkout-button-container">
        <a href="{% url 'checkout' %}">
            <button type="button" class="add-button" style="margin-bottom: 50px; height: 40px;">Checkout</button>
        </a>
    </div>

</div>
{% endif %}
{% endblock %}