{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Sushi by RC | Checkout {% endblock %}
{% block icons %}
    <li class="nav-item ms-auto">
        <a class="nav-link active navbar-icons" aria-current="page" href="{% url 'welcome' %}">
            <i class="fa-solid fa-user"></i>
        </a>
    </li>
    <li class="nav-item ms-auto" >
        <a class="navbar-brand" style="" href="{% url 'cart' %}">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </li>
    <li class="nav-item ms-auto" >
        <a class="navbar-brand" style="" href="{% url 'about' %}">
            <i class="fa-solid fa-circle-info"></i>
        </a>
    </li>
{% endblock %}

{% block body %}

<!-- PRESENTATION -->
<div class="main-container">
  <h1>
    Checkout
  </h1>
  <h5>
    We're almost there
  </h5>
    <hr>
</div>


<!-- BILLING INFO/SUMMARY -->
{% if multiple_address %}
    <div class="main-container">
        <div class="checkout-billing-info-container">
            <!-- BILLING INFO -->
            <div class="register-form-pt2">
                <h4>
                    Shipping Address
                </h4>
                <p style="color: grey;">
                   Please choose one of your addresses
                </p>
                <hr>
                {% for i in multiple_address %}
                <div class="all-addresses-container">
                    <form id="{{i.id}}" method="post" action="{% url 'set_address' %}">
                        {% csrf_token %}
                        <input type="hidden" name="street_1" value="{{i.street_1}}">
                        <input type="hidden" name="street_2" value="{{i.street_2}}">
                        <input type="hidden" name="zip" value="{{i.zip}}">
                    </form>
                    <h4>{{i.street_1}} - {{i.street_2}} - {{i.zip}}</h4>
                    <div >
                        <button class="save" type="submit" form="{{i.id}}"> Use this Address</button>
                    </div>
                </div>
                <hr>
                {% endfor %}
                <div class="all-addresses-container">
                    <h4>Use new Address</h4>
                    <button class="save"> <i class="fa-solid fa-plus"></i> Add </button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if single_address %}
    <div class="main-container">
        <div class="checkout-billing-info-container">
            <!-- BILLING INFO -->
            <div class="register-form-pt2">
                <h4>
                    Shipping Address
                </h4>
                <p style="color: grey;">
                   Your default address is:
                </p>
                <hr>
                <div class="">
                    <form id="shipping_form">
                        {{ shipping_form|crispy }}
                    </form>
                </div>
                <hr>
                <div class="all-addresses-container">
                    <h4>Use new Address</h4>
                    <button class="save"> <i class="fa-solid fa-plus"></i> Add </button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if no_address%}
    <div class="main-container">
        <div class="checkout-billing-info-container">
            <!-- BILLING INFO -->
            <div class="register-form-pt2">
                <h4>
                    Shipping Address
                </h4>
                <p style="color: grey;">
                   Please register an Address to ship your service.
                </p>
                <hr>
                <form id="no_address_form" method="post" action="{% url 'checkout' %}">
                    {% csrf_token %}
                    {{ shipping_form|crispy }}
                    <div class="submit-button-container">
                        <button form="no_address_form" type="submit" class="save">
                            <i class="fa-solid fa-plus"></i> Add </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}


<div class="main-container ">
    <hr>
    <div class="checkout-billing-info-container">
        <!-- SUMMARY TABLE -->
        {% if not items %}
        <div class="checkout-summary-container">
            <h4>
                Your have no Orders yet!
            </h4>
            <a href="{% url 'home' %}">
                <button class="add-button">
                    Back to Store
                </button>
            </a>
        </div>
        {% endif %}


        <!-- SUMMARY TABLE -->
        {% if items %}
        <div class="checkout-summary-container">
            <h4>
                Your Order
            </h4>
            <table style="width: 100%; border-color: #333;">
                {% for i in items %}
                <tr class="bottom-row">
                    <td valign="top" style="width: 10%;">
                        <div style="text-align: center;">
                            <img class="checkout-item-img" src="{{ i.product.img.url }}">
                        </div>
                    </td>
                    <td class="summary-table-cell" style="width: 75%;">
                        <h6 style="margin: 0;">{{i.product.name}} - {{i.quantity}}</h6>
                        <p style="">
                            {{i.product.tag.all.0.name}}
                        </p>
                    </td>
                    <td valign="top" style="width: 15%; text-align: right;">
                        <h6>Price: ${{i.get_total}}</h6>
                    </td>
                </tr>
                {% endfor %}
                <tr >
                    <td colspan="3" class="price-row-division">
                        <h5>
                            Total to pay: ${{order.get_total_price}}
                        </h5>
                    </td>
                </tr>
            </table>
            <!-- CHECKOUT BUTTON -->
            <div class="checkout-button-container">
                <button class="add-button" type="submit" form="shipping_form" onclick="shippingData()">
                    Pay Now
                </button>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<script>
    function shippingData(){
        var total_to_pay = '{{order.get_total_price|floatformat:2}}'
        var userData = {
            'name':'{{request.user.first_name}}',
            'email':'{{request.user.email}}',
        }
        var shipping = {
            'street_1':'{{shipping_form.street_1.value}}',
            'street_2':'{{shipping_form.street_2.value}}',
            'zip':'{{shipping_form.zip.value}}',
        }
        console.log(total_to_pay)
        console.log(shipping)

        var url = 'process_order'

        fetch(url, {
        method: 'POST',
        headers:{
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({'user': userData, 'total': total_to_pay, 'shipping': shipping})
        })
        .then((response) =>{
            return response.json()
        })
        .then((data) =>{
            console.log('data:', data)
            window.location.href = '{% url 'home' %}'
            alert('transaction completed')
        })
    }
</script>

{% endblock %}