{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Sushi by RC | My Account {% endblock %}
{% block icons %}
    <li class="nav-item ms-auto" >
        <a class="navbar-brand" style="" href="{% url 'cart' %}">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </li>
    <li class="nav-item ms-auto" >
        <a class="navbar-brand" style="" href="{% url 'about' %}">
            <i class="fa-solid fa-circle-info"></i>
        </a>
    </li>
{% endblock %}

{% block body %}


{% if messages %}
    {% for message in messages %}
        <h4 class="{{message.tags}}">{{ message }}</h4>
    {% endfor %}
{% endif %}

<!-- PRESENTATION -->
<div class="main-container">
    <div class="register-presentation-img-container">
        <img class="register-img" src="{% static 'images/cover.jpeg' %}">
        <div class="presentation-text">
            <h1 class="display-fonts">
                Hello, {{user.first_name}}!
            </h1>
             {% if messages %}
                    {% for message in messages %}
                    <h4 class="{{message.tags}}">{{ message }}</h4>
                    {% endfor %}
            {% else %}
            <h4>
                Welcome back.
            </h4>
            {% endif %}
            <div class="log-out-button-container" >
                <a href="{% url 'logout' %}" >
                    <button type="button" class="logout-button" >Log out</button>
                </a>
            </div>
        </div>
    </div>

</div>

<!-- BILLING DETAILS FORM -->
{% if single_address %}
    <div class="main-container">
        <div class="checkout-billing-info-container">
            <!-- BILLING INFO -->
            <div class="register-form-pt2">
                <h4>
                    Shipping Address
                </h4>
                <p style="color: grey;">
                    Edit the fields bellow if you need to update your
                    shipping details.
                    <br>
                    Otherwise, just ignore this form.
                </p>
                <form id="form" method="post" action="{% url 'dashboard' %}">
                    {% csrf_token %}
                    {{ shipping_form|crispy }}
                </form>
                <div class="dashboard-address-buttons">
                    <button form="form" type="submit" class="add-button"> Update Info </button>
                    <button class="danger" onclick="deleteAddress({{ single_address.id }})"> Delete this Address </button>
                </div>
                <div class="add-new-address-container">
                    <button class="save" onclick="openPopUp()"> <i class="fa-solid fa-plus"></i> Add New Address </button>
                </div>
            </div>
        </div>
    </div>
{% endif %}


{% if multiple_address %}
<div class="main-container-center">
    <div class="multiple-address-container">
            <h4>
                All Your addresses
            </h4>
            <p style="color: grey;">
                Choose what to do with them if needed
            </p>
            <hr>

            {% for i in multiple_address %}
            <div class="all-addresses-container">
                <h4>{{i.street_1}} - {{i.street_2}} - {{i.zip}}</h4>
                <div class="address-buttons-container">
                    <div class="address-button">
                        <button class="danger-smol" onclick="deleteAddress({{ i.id }})"> Delete </button>
                    </div>
                    <div class="address-button">
                        <button class="save" onclick="openPopUp()"> Edit </button>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
            <div class="all-addresses-container">
                <h4>Add new Address</h4>
                <button class="save" onclick="openPopUp()"> <i class="fa-solid fa-plus"></i> Add </button>
            </div>
    </div>
</div>
{% endif %}


{% if no_address %}
    <div class="main-container">
    <div class="no-address-container">
        <h3>
            You have no addresses yet!
        </h3>
        <p style="color: gery;">
            Please help us complete your orders by adding one
        </p>
        <button class="save" onclick="openPopUp()"> <i class="fa-solid fa-plus"></i> Add </button>

    </div>
</div>
{% endif %}


<!-- CHECK ORDERS -->
<div class="main-container">
    <hr>

    <div class="check-orders-container">
        <h3>
            Orders
        </h3>
        <p style="color: grey;">
            Check your order history here.
        </p>
        <hr>

        {% if not orders %}
        <div class="no-orders-container">
            <h5>
                You have no orders yet.
            </h5>
            <a href="{% url 'home' %}" >
                <button type="button" class="logout-button back-to-store-button" >Back to store</button>
            </a>
        </div>

        {% endif %}

        {% for i in orders %}
        <div class="orders-container">
            <div>
                <h5>Date</h5>
                <p>{{ i.date }}</p>
            </div>
            <div>
                <h5>Order ID</h5>
                <p>{{ i.order_id }}</p>
            </div>
            <div>
                <h5>N° Items</h5>
                <p>{{ i.get_total_items }}</p>
            </div>
            <div>
                <h5>Total Paid</h5>
                <p>${{ i.get_total_price }}</p>
            </div>
        </div>
        <hr>
        {% endfor %}

    </div>
</div>


<div  class="add-address-pop-up" id="add-address">
    <div class="popup-inner-div">
        <h3>
            Add new Address
        </h3>
        <button type="button" class="close" onclick="closePopUp()"> <i class="fa-solid fa-circle-xmark"></i></button>
    </div>
    <form method="post" action="{% url 'dashboard'%}">
        {% csrf_token %}
        {{ shipping_form|crispy}}
        <button type="submit" class="save" onclick="closePopUp()">
            <i class="fa-solid fa-plus"></i> Save
        </button>
    </form>
</div>


<script>

    let popup = document.getElementById("add-address")
    function openPopUp(){
        open-popup.classList.add("open-popup");
    }

    function closePopUp(){
        open-popup.classList.remove("open-popup");
    }
</script>

{% endblock %}


