{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Sushi by RC | My Account {% endblock %}
{% block icons %}
    <li class="nav-item ms-auto" >
        <a class="navbar-brand" style="" href="{% url 'cart' %}">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </li>
    <li class="nav-item ms-auto" >
        <a class="navbar-brand" style="" href="{% url 'about' %}">
            <i class="fa-solid fa-circle-info"></i>
        </a>
    </li>
{% endblock %}

{% block body %}

<!-- PRESENTATION -->
<div class="main-container">
    <div class="register-presentation-img-container">
        <img class="register-img" src="{% static 'images/cover.jpeg' %}">
        <div class="presentation-text">
            <h1 class="display-fonts">
                Hello, {{user.first_name}}!
            </h1>
             {% if messages %}
                    {% for message in messages %}
                    <h4 class="{{message.tags}}">{{ message }}</h4>
                    {% endfor %}
            {% else %}
            <h4>
                Welcome back.
            </h4>
            {% endif %}
            <div class="log-out-button-container" >
                <a href="{% url 'logout' %}" >
                    <button type="button" class="logout-button" >Log out</button>
                </a>
            </div>
        </div>
    </div>

</div>

<!-- BILLING DETAILS FORM -->
{% if single_address %}
    <div class="main-container">
        <div class="checkout-billing-info-container">
            <!-- BILLING INFO -->
            <div class="register-form-pt2">
                <h4>
                    Shipping Address
                </h4>
                <p style="color: grey;">
                    You can update your shipping details right here if you need to.
                    <br>
                    Otherwise, just ignore this form.
                </p>
                <form id="form" method="post" action="{% url 'dashboard' %}">
                    {% csrf_token %}
                    {{ shipping_form|crispy }}
                </form>
                <div class="dashboard-address-buttons">
                    <button form="form" type="submit" class="add-button"> Update Info </button>
                    <button class="danger" onclick="deleteAddress({{ single_address.id }})"> Delete this Address </button>
                </div>
                <div class="add-new-address-container">
                    <button class="save"> <i class="fa-solid fa-plus"></i> Add a new Address </button>
                </div>
            </div>
        </div>
    </div>
{% endif %}


{% if multiple_address %}
<div class="main-container">
    <div class="register-form-pt1">
            <h4>
                All Your addresses
            </h4>
            <p style="color: grey;">
                Choose what to do with them if needed
            </p>
            {% for i in multiple_address %}
            <div class="all-addresses-container">
                <h4>{{i.street_1}} - {{i.street_2}} - {{i.zip}}</h4>
                <div class="address-buttons-container">
                    <div class="address-button">
                        <button class="danger-smol" onclick="deleteAddress({{ i.id }})"> Delete </button>
                    </div>
                    <div class="address-button">
                        <button class="save"> Edit </button>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
            <div class="all-addresses-container">
                <h4>Add new Address</h4>
                <button class="save"> <i class="fa-solid fa-plus"></i> Add </button>
            </div>
            <hr>
    </div>
</div>
{% endif %}


{% if no_address %}
<div class="main-container">
    <div class="register-form-pt2">
                <h3>
                    You have no addresses yet!
                </h3>
                <hr>
                <h4>
                    Orders
                </h4>
                <p style="color: grey;">
                    Check on your order history here.
                </p>
                <div class="update-info-button-container">
                    <button class="add-button"> Go </button>
                </div>
            </div>
</div>
{% endif %}


<!-- CHECK ORDERS -->
<div class="main-container">
    <hr>
    <div class="checkout-billing-info-container">
        <div class="dashboard-orders-container">
                <h4>
                    Orders
                </h4>
                <p style="color: grey;">
                    Check on your order history here.
                </p>
                <div class="update-info-button-container">
                    <button class="add-button"> Go </button>
                </div>
            </div>
    </div>
</div>


{% endblock %}
