{% extends 'base.html' %}
{% load static %}
{% block title %} Sushi by RC | Details {% endblock %}
{% block icons %}
    <li class="nav-item ms-auto">
        <a class="nav-link active navbar-icons" aria-current="page" href="{% url 'welcome' %}">
            <i class="fa-solid fa-user"></i>
        </a>
    </li>
    <li class="nav-item ms-auto" >
        <a class="navbar-brand" style="" href="{% url 'cart' %}">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </li>
    <li class="nav-item ms-auto" >
        <a class="navbar-brand" style="" href="{% url 'about' %}">
            <i class="fa-solid fa-circle-info"></i>
        </a>
    </li>
{% endblock %}

{% block body %}
<div class="main-container">

  <div class="details-container">
        <div class="details-img-container">
          <img class="details-img" src="{{ selected.img.url }}">
        </div>

        <div class="details-text-buttons">
            <h1>
              {{selected.name}}
            </h1>
            <p>
              {{selected.description}}
            </p>
            <div class="details-buttons">
                <h1>
                  ${{selected.price}}
                </h1>

                <button class="add-button update-cart"
                        onclick="addToCart({{selected.id}}, 'add')">
                    Add to Cart <i class="fa-solid fa-plus"></i>
                </button>

            </div>
        </div>
  </div>

</div>
{% endblock %}
