{% extends 'base.html' %}
{% load static %}
{% block title %} Sushi by RC | {{selected.name}} {% endblock %}
{% block icons %}
    <li class="nav-item ms-auto">
        <a class="nav-link active navbar-icons" aria-current="page" href="{% url 'welcome' %}">
            <i class="fa-solid fa-user"></i>
        </a>
    </li>
    <li class="nav-item ms-auto" >
        <a class="navbar-brand" style="" href="{% url 'cart' %}">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </li>
    <li class="nav-item ms-auto" >
        <a class="navbar-brand" style="" href="{% url 'about' %}">
            <i class="fa-solid fa-circle-info"></i>
        </a>
    </li>
{% endblock %}

{% block body %}
<div class="main-container">

  <div class="details-container">
        <div class="details-img-container">
          <img class="details-img" src="{{ selected.img.url }}">
        </div>

        <div class="details-text-buttons">
            <h1>
              {{selected.name}}
            </h1>
            <p>
              {{selected.description}}
            </p>
            <div class="details-buttons">
                <h1>
                  ${{selected.price}}
                </h1>
                <form method="post" action="{% url 'added-to-cart' %}">
                    {% csrf_token %}
                    <div>
                        <input name="quantity" type="number" min="1" value="1" max="100" class="details-num-selector">
                        <input name="product_id" type="hidden" value="{{selected.id}}">
                    </div>
                    <button type="submit" class="add-button"> Add to cart <i class="fa-solid fa-plus"></i></button>
                </form>


            </div>
        </div>
  </div>

</div>
{% endblock %}
