{% extends 'base.html' %}
{% load static %}
{% block title %} Sushi by RC{% endblock %}
{% block body %}


<!-- MAIN COVER -->
<div>
    <img class="main-cover" src="{% static 'images/cover.jpeg' %}">
</div>


<!-- FEATURED SECTION -->
<div class="main-container featured-container">
    <div class="featured-title">
        <h1 class="">
            Featured
        </h1>
    </div>
        <div class="featured-card">
            <div class="featured-img-container">
                <img class="featured-img" src="{{ featured.img.url }}">
            </div>
            <div class="featured-text">
                <h5>
                    {{ featured.name }}
                </h5>
                <p class="">
                    {{ featured.description }}
                </p>
                <input class="featured-quantity-selector" type="number" min="1" value="1">
                <br>
                <a href="#">
                    <button class="add-button">
                        Add to Cart now
                    </button>
                </a>
            </div>
    </div>
    <hr>
</div>


<!-- MENU -->
<div class="main-container">

    <div class="menu-title-container">
        <h1 class="menu-title">
           Our Menu
        </h1>
    </div>

    <!-- ENTRIES -->
    <div class="menu-container">
        <h2 class="menu-item-type-dish">
            Entries
        </h2>
    </div>
    <div class="menu-container">
        {% for i in entries %}
        <div class="menu-item-card">
            <hr class="menu-item-hr">
            <table>
                <tr>
                    <td class="menu-item-title">
                        <div>
                            <h5>
                            {{ i.name }} - ${{ i.price}}
                            </h5>
                        </div>
                        <div>
                            <input class="featured-quantity-selector" type="number" min="1" value="1">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-img-td" colspan="2">
                        <div class="menu-item-img-container">
                            <a href="{% url 'details' i.slug %}">
                                <img class="menu-item-img" src="{{ i.img.url }}">
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-add-button">
                        <a href="#">
                            <button class="add-button">
                                Add to Cart now
                            </button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>

    <!-- SOUPS -->
    <div class="menu-container">
        <h2 class="menu-item-type-dish">
            Soups
        </h2>
    </div>
    <div class="menu-container">
        {% for i in soups %}
        <div class="menu-item-card">
            <hr class="menu-item-hr">
            <table>
                <tr>
                    <td class="menu-item-title">
                        <div>
                            <h5>
                            {{ i.name }} - ${{ i.price}}
                            </h5>
                        </div>
                        <div>
                            <input class="featured-quantity-selector" type="number" min="1" value="1">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-img-td" colspan="2">
                        <div class="menu-item-img-container">
                            <a href="{% url 'details' i.slug %}">
                                <img class="menu-item-img" src="{{ i.img.url }}">
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-add-button">
                        <a href="#">
                            <button class="add-button">
                                Add to Cart now
                            </button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>

    <!-- MAINS -->
    <div class="menu-container">
        <h2 class="menu-item-type-dish">
            Mains
        </h2>
    </div>
    <div class="menu-container">
        {% for i in mains %}
        <div class="menu-item-card">
            <hr class="menu-item-hr">
            <table>
                <tr>
                    <td class="menu-item-title">
                        <div>
                            <h5>
                            {{ i.name }} - ${{ i.price}}
                            </h5>
                        </div>
                        <div>
                            <input class="featured-quantity-selector" type="number" min="1" value="1">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-img-td" colspan="2">
                        <div class="menu-item-img-container">
                            <a href="{% url 'details' i.slug %}">
                                <img class="menu-item-img" src="{{ i.img.url }}">
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-add-button">
                        <a href="#">
                            <button class="add-button">
                                Add to Cart now
                            </button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>

    <!-- DESSERTS-->
    <div class="menu-container">
        <h2 class="menu-item-type-dish">
            Desserts
        </h2>
    </div>
    <div class="menu-container">
        {% for i in desserts %}
        <div class="menu-item-card">
            <hr class="menu-item-hr">
            <table>
                <tr>
                    <td class="menu-item-title">
                        <div>
                            <h5>
                            {{ i.name }} - ${{ i.price}}
                            </h5>
                        </div>
                        <div>
                            <input class="featured-quantity-selector" type="number" min="1" value="1">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-img-td" colspan="2">
                        <div class="menu-item-img-container">
                            <a href="{% url 'details' i.slug %}">
                                <img class="menu-item-img" src="{{ i.img.url }}">
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-add-button">
                        <a href="#">
                            <button class="add-button">
                                Add to Cart now
                            </button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>

    <!-- REFRESH -->
    <div class="menu-container">
        <h2 class="menu-item-type-dish">
            Refreshments
        </h2>
    </div>
    <div class="menu-container">
        {% for i in refreshments %}
        <div class="menu-item-card">
            <hr class="menu-item-hr">
            <table>
                <tr>
                    <td class="menu-item-title">
                        <div>
                            <h5>
                            {{ i.name }} - ${{ i.price}}
                            </h5>
                        </div>
                        <div>
                            <input class="featured-quantity-selector" type="number" min="1" value="1">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-img-td" colspan="2">
                        <div class="menu-item-img-container">
                            <a href="{% url 'details' i.slug %}">
                                <img class="menu-item-img" src="{{ i.img.url }}">
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-add-button">
                        <a href="#">
                            <button class="add-button">
                                Add to Cart now
                            </button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}