{% extends 'base.html' %}
{% load static %}
{% block title %} Sushi by RC{% endblock %}
{% block icons %}
    <li class="nav-item ms-auto">
        <a class="nav-link active navbar-icons" aria-current="page" href="{% url 'welcome' %}">
            <i class="fa-solid fa-user"></i>
        </a>
    </li>
    <li class="nav-item ms-auto" >
        <a class="navbar-brand" style="" href="{% url 'cart' %}">
            {% if not items %}
            <i class="fa-solid fa-cart-shopping"></i>
            {% endif %}

            {% if items %}
            <i class="fa-solid fa-cart-plus"></i>
            {% endif %}
        </a>
    </li>
    <li class="nav-item ms-auto" >
        <a class="navbar-brand" style="" href="{% url 'about' %}">
            <i class="fa-solid fa-circle-info"></i>
        </a>
    </li>
{% endblock %}

{% block body %}

{% csrf_token %}
<!-- MAIN COVER -->
<div>
    <img class="main-cover" src="{% static 'images/cover.jpeg' %}">
</div>


<!-- FEATURED SECTION -->
<div class="main-container featured-container">
    <div class="featured-title">
        <h1 class="">
            Featured
        </h1>
    </div>
        <div class="featured-card">
            <div class="featured-img-container">
                <img class="featured-img" src="{{ featured.img.url }}">
            </div>
            <div class="featured-text">
                <h5>
                    {{ featured.name }}
                </h5>
                <p class="">
                    {{ featured.description }}
                </p>
                <br>
                <button data-product={{i.id}} data-action="add" class="add-button update-cart"
                        onclick="addToCart({{featured.id}}, 'add')">
                    Add to Cart <i class="fa-solid fa-plus"></i>
                </button>
            </div>
    </div>
    <hr>
</div>


<!-- MENU -->
<div class="main-container">

    <div class="menu-title-container">
        <h1 class="menu-title">
           Our Menu
        </h1>
    </div>

    <!-- ENTRIES -->
    <div class="menu-container">
        <h2 class="menu-item-type-dish">
            Entries
        </h2>
    </div>
    <div class="menu-container">
        {% for i in entries %}
        <div class="menu-item-card">
            <hr class="menu-item-hr">
            <table>
                <tr>
                    <td class="menu-item-title">
                        <div>
                            <h5>
                            {{ i.name }} - ${{ i.price}}
                            </h5>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-img-td" colspan="2">
                        <div class="menu-item-img-container">
                            <a href="{% url 'details' i.slug %}">
                                <img class="menu-item-img" src="{{ i.img.url }}">
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-add-button">
                        <button data-product={{i.id}} data-action="add" class="add-button update-cart"
                                onclick="addToCart({{i.id}}, 'add')">
                            Add to Cart <i class="fa-solid fa-plus"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>

    <!-- SOUPS -->
    <div class="menu-container">
        <h2 class="menu-item-type-dish">
            Soups
        </h2>
    </div>
    <div class="menu-container">
        {% for i in soups %}
        <div class="menu-item-card">
            <hr class="menu-item-hr">
            <table>
                <tr>
                    <td class="menu-item-title">
                        <div>
                            <h5>
                            {{ i.name }} - ${{ i.price}}
                            </h5>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-img-td" colspan="2">
                        <div class="menu-item-img-container">
                            <a href="{% url 'details' i.slug %}">
                                <img class="menu-item-img" src="{{ i.img.url }}">
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-add-button">
                        <button data-product={{i.id}} data-action="add" class="add-button update-cart"
                                onclick="addToCart({{i.id}}, 'add')">
                            Add to Cart <i class="fa-solid fa-plus"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>

    <!-- MAINS -->
    <div class="menu-container">
        <h2 class="menu-item-type-dish">
            Mains
        </h2>
    </div>
    <div class="menu-container">
        {% for i in mains %}
        <div class="menu-item-card">
            <hr class="menu-item-hr">
            <table>
                <tr>
                    <td class="menu-item-title">
                        <div>
                            <h5>
                            {{ i.name }} - ${{ i.price}}
                            </h5>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-img-td" colspan="2">
                        <div class="menu-item-img-container">
                            <a href="{% url 'details' i.slug %}">
                                <img class="menu-item-img" src="{{ i.img.url }}">
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-add-button">
                        <button data-product={{i.id}} data-action="add" class="add-button update-cart"
                                onclick="addToCart({{i.id}}, 'add')">
                            Add to Cart <i class="fa-solid fa-plus"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>

    <!-- DESSERTS-->
    <div class="menu-container">
        <h2 class="menu-item-type-dish">
            Desserts
        </h2>
    </div>
    <div class="menu-container">
        {% for i in desserts %}
        <div class="menu-item-card">
            <hr class="menu-item-hr">
            <table>
                <tr>
                    <td class="menu-item-title">
                        <div>
                            <h5>
                            {{ i.name }} - ${{ i.price}}
                            </h5>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-img-td" colspan="2">
                        <div class="menu-item-img-container">
                            <a href="{% url 'details' i.slug %}">
                                <img class="menu-item-img" src="{{ i.img.url }}">
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-add-button">
                        <button data-product={{i.id}} data-action="add" class="add-button update-cart"
                                onclick="addToCart({{i.id}}, 'add')">
                            Add to Cart <i class="fa-solid fa-plus"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>

    <!-- REFRESH -->
    <div class="menu-container">
        <h2 class="menu-item-type-dish">
            Refreshments
        </h2>
    </div>
    <div class="menu-container">
        {% for i in refreshments %}
        <div class="menu-item-card">
            <hr class="menu-item-hr">
            <table>
                <tr>
                    <td class="menu-item-title">
                        <div>
                            <h5>
                            {{ i.name }} - ${{ i.price}}
                            </h5>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-img-td" colspan="2">
                        <div class="menu-item-img-container">
                            <a href="{% url 'details' i.slug %}">
                                <img class="menu-item-img" src="{{ i.img.url }}">
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="menu-item-add-button">
                        <button data-product={{i.id}} data-action="add" class="add-button update-cart"
                                onclick="addToCart({{i.id}}, 'add')">
                            Add to Cart <i class="fa-solid fa-plus"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}