{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Sushi by RC | Sign Up {% endblock %}
{% block icons %}
    <li class="nav-item ms-auto" >
        <a class="navbar-brand" style="" href="{% url 'cart' %}">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </li>
    <li class="nav-item ms-auto" >
        <a class="navbar-brand" style="" href="{% url 'about' %}">
            <i class="fa-solid fa-circle-info"></i>
        </a>
    </li>
{% endblock %}


{% block body %}
<!-- PRESENTATION -->
<div class="main-container">
    <div class="register-presentation-img-container">
        <img class="register-img" src="{% static 'images/cover.jpeg' %}">
        <div class="presentation-text">
            <h1>
                Sign Up
            </h1>
            <p>
                This registration is a one-time process.
                <br>
                We will never share your information with anyone else.
                <br>
                Already registered? Login <a href="{% url 'login' %}">Here</a>
            </p>

        </div>
    </div>
</div>

<!-- SUBSCRIPTION FORM -->
<div class="main-container">
    <form class="registration-form" method="post" action="{% url 'sign_up' %}">
        {% csrf_token %}
        <div class="user-registration-form">
            <div>
                <h4>
                    Basics
                </h4>
                {{ basics_form|crispy }}
            </div>
            <div class="shipping-address-container">
                <h4>
                    Shipping Address
                </h4>
                {{ shipping_form|crispy }}
                <button type="submit" class="add-button">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
